{% extends 'home/base.html' %}

{% block content %}

  <p><a href="/generic-views/my-view/">my_view(functional)</a></p>
  <p><a href="/generic-views/my-view-generic/">my_view_generic</a></p>
  <h1>Create view</h1>
  <p><a href="/generic-views/create-book/">create_view(functional)</a></p>
  <p><a href="/generic-views/create-book-generic/">create_view(generic)</a></p>
   <h1>Retrieve views</h1>
  <p>List</p>
  <p><a href="/generic-views/list-book/">list_view(functional)</a></p>
  <p><a href="/generic-views/list-book-generic/">list_view(generic)</a></p>
  <p>Detail</p>
  <p><a href="/generic-views/detail-book-id/2">detail_view(functional)</a></p>
  <p><a href="/generic-views/detail-book-generic/2">detail_view(generic)</a></p>
  <h1>Update views</h1>
  <p><a href="/generic-views/update/2">update_view(functional)</a></p>
  <p><a href="/generic-views/update-generic/2">detail_view(generic)</a></p>
  <h1>Delete views</h1>
  <p><a href="/generic-views/delete/1">delete_view(functional)</a></p>
  <p><a href="/generic-views/delete-generic/1">delete_view(generic)</a></p>

{% endblock %}
